:root {
  --font: Arial, sans-serif;
  --font-size: 2vw;
  --button-color: #c580e5;
  --background-color: linear-gradient(to right, #ffcccc, #cc99ff);
  --text-color: #000000;
  --rectangle-color: white;
}

:root.dark {
  --background-color: linear-gradient(to right, #49025f, #4e019b);
  --rectangle-color: rgb(46, 42, 42);
  --text-color: white;
  --button-color: #4f2085;
}

body {
  background: var(--background-color);
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.rectangle {
  width: 50vw;
  height: 35vw;
  padding: 1em;
  background-color: var(--rectangle-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Text */
.text-container, #result, #text, #question {
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: var(--font);
  text-align: center;
  margin-bottom: 1em;
}

#result, #question {
  flex: 0 1 auto;
  font-weight: bold;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

#text {
  margin-left: 1em;
}

/* Buttons */
.button-container {
  position: relative;
  bottom: 1em;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  width: 100%;
  border-radius: 10px;
  padding: 1.5em 2.5em;
  box-sizing: border-box;
  margin: 1%;
  background-color: var(--button-color);
  color: white;
  border: 1px solid var(--button-color);
  text-shadow: 0.2em 0.2em 0.4em #000000;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  font-size: var(--font-size);
  font-family: var(--font);
}

button:hover {
  background-color: #45a049;
  color: white;
}

#buttonReboot {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 1.5em;
  width: auto;
  height: auto;
}

/* Night theme checkbox*/
#theme {
  position: absolute;
  top: 1%;
  right: 1%;
}

.theme-checkbox {
  --toggle-size: 1vw;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}